.mood-tracker-modal {
    min-height: 400px;
}

.confirmation-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mood-tracker-notice-header {
	font-weight: 900;
}

.modal-content {
	overflow-x: scroll
}

.daily-entry .entry {
	margin-bottom: 15px
}
